<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9zsgaDY1GSC15oUqd0MBmmMjUfT-DoUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>840580281011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vi.khedutbazar</string>
	<key>PROJECT_ID</key>
	<string>khedutbazar-77152</string>
	<key>STORAGE_BUCKET</key>
	<string>khedutbazar-77152.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840580281011:ios:028b1e29608d5e353e76c6</string>
</dict>
</plist>